<%= form_with(model: second_blog, local: true) do |form| %>
  <% if second_blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(second_blog.errors.count, "error") %> prohibited this second_blog from being saved:</h2>

      <ul>
      <% second_blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :second_blog_title %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
